<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    
    <section class="product__detail">
        <div><h2>Detalle del producto</h2></div>
        
        <div class="product__description">
            <img src="/images/<%= productoEncontrado.image %>" alt="producto1">
            <p class="nombre_prod"><%=productoEncontrado.nombre %></p>
            <p class="nombre_prod">Talle : <%=productoEncontrado.id_talle %></p>
            <p class="nombre_prod">Color : <%=productoEncontrado.id_color %></p>
        </div>
        <div class="productDetail__buttons">
            <a href="" class="button_personalizado">Comprar ahora</a>
            <button onclick="addToCart(<%= productoEncontrado.id %>)">🛒 Agregar al carrito</button>
            <a href="/products/detail/edit/<%= productoEncontrado.id %>" class="button_personalizado">Editar producto</a>
            <form action="/products/detail/<%= productoEncontrado.id %>/delete?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="button_personalizado">Eliminar producto</button>
            </form>
        </div>
    </section>
    <%- include('partials/footer')%>
</body>
</html>