<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {tittle: 'Index'}); %>
<body>
    <div class="index_detail">
    <%- include('partials/header'); %>
    
    <main>
        <h2>Ofertas del dia!</h2>
        <section class="ofertas">
            <% products.forEach(producto => {%>
            <div class="oferta_ind">
                <a href="/products/detail/<%= producto.id %> ">
                <img src="/images/<%= producto.image %> " alt="oferta1">
                </a>            
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <p class="nombre_prod"><%= producto.name %></p>
                        <p class="off"><%= producto.price %></p>
                    
                    </div> 
                    <a href=""><img src="/images/carrito.png" alt="carrito"></a>
                </div>
            </div>
            <% }) %>
            
        </section>
    </main>


    
    <%- include('partials/footer')%>
</div>
    
</body>
</html>