<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {tittle: 'Index'}); %>
<body>
    <%- include('partials/header'); %>
    <div class="index_detail">
    
    
    <main>
        <h2 class="title">Ofertas del dia!</h2>
        <section class="ofertas">
            <% products.forEach(producto => {%>
                <article class="oferta">
                    <a href="/products/detail/<%= producto.id %> "><figure><img src="/images/<%= producto.image %> " alt="oferta1"></figure></a>
                
                            
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <h2 class="nombre_prod"><%= producto.nombre %></h2>
                        <p class="off"><%= producto.precio %> $</p>   
                    </div> 
                   <a  href=""><img class="button_personalizado" src="/images/carrito.png" alt="carrito"></a>
                </div>
            </article>
            <% }) %>
        </section>
    </main>


    
    <%- include('partials/footer')%>
</div>
    
</body>
</html>