<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Formulario de edicion' }); %>

    <body>

        <%- include('partials/header')%>
        <% if(typeof errors != "undefined") { %> 
            <% errors.forEach(error => { %>
                <ul>    
                    <li>
                        <%= error.msg %>
                    </li>
                </ul>
                <% }) %>
                <% } %>
        
                <form action="/products/detail/<%= productoToEdit.id %>/update" enctype="multipart/form-data" method="POST" class="form__createEdit">
                    <h1 class="text-form">Formulario de edicion del producto</h1>
                    <h2 class="text-form"> <%= productoToEdit.nombre  %> </h2>
                    <label for="nombre del producto" class="form-label">
                        <h4 class="text-form">Nombre del producto:</h4> <input class="completar" type="text" name="nombre">
                    </label>
                    <label for="precio" class="form-label">
                        <h4 class="text-form">Precio del producto:</h4><input class="completar" type="number" name="precio">
                    </label>
                    <label for="cantidad" class="form-label">
                        <h4 class="text-form">Cantidad:</h4>
                        <input type="number" id="cantidad" name="cantidad" placeholder="Ej: 15" class="completar">
                    </label>
                    
                    <label for="categoria" class="form-label"><h4>Categoría:</h4></label>
<select name="categoria" id="categoria" class="completar">
    <% categorias.forEach(categoria => { %>
        <% if (productoToEdit.id_categoria == categoria.id) { %> 
            <option value="<%= categoria.id %>" selected><%= categoria.genero %></option>
        <% } else { %>
            <option value="<%= categoria.id %>"><%= categoria.genero %></option>
        <% } %>
    <% }) %>
</select>

<label for="color" class="form-label"><h4>Color:</h4></label>
<select name="color" id="color" class="completar">
    <% colores.forEach(color => { %>
        <% if (productoToEdit.id_color === color.id) { %> 
            <option value="<%= color.id %>" selected><%= color.nombre %></option>
        <% } else { %>
            <option value="<%= color.id %>"><%= color.nombre %></option>
        <% } %>
    <% }) %>
</select>

<label for="talle" class="form-label"><h4>Talle:</h4></label>
<select name="talle" id="talle" class="completar">
    <% talles.forEach(talle => { %>
        <% if (productoToEdit.id_talle === talle.id) { %> 
            <option value="<%= talle.id %>" selected><%= talle.numero %></option>
        <% } else { %>
            <option value="<%= talle.id %>"><%= talle.numero %></option>
        <% } %>
    <% }) %>
</select>
                    
                    <label for="image" class="form-label">imagen</label>
                        <input type="file" name="image" >
                    </div>
                    <div class="buttons_register">
                        <button type="submit">Guardar</button>
                    </div>
        </form>



        <%- include('partials/footer')%>
    </body>

</html>