<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    
    <section class="product__detail">
        <div><h2>Detalle del producto</h2></div>
        
        <div class="product__description">
            <img src="/images/<%= producto.image %>" alt="producto1">
            <p class="nombre_prod"><%=producto.name %></p>
        </div>
        <div class="productDetail__buttons">
            <a href="" class="button_personalizado">Comprar ahora</a>
            <a href="" class="button_personalizado">Agregar al carrito</a>
            <a href="" class="button_personalizado">Eliminar producto</a>
        </div>
    </section>
    <%- include('partials/footer')%>
</body>
</html>