<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Index' }); %>

    <body>

        <%- include('partials/header')%>
        <% if(typeof errors != "undefined") { %> 
            <% errors.forEach(error => { %>
                <ul>    
                    <li>
                        <%= error.msg %>
                    </li>
                </ul>
                <% }) %>
                <% } %>
        <form action="/products/store" enctype="multipart/form-data" method="POST" class="form__register">
            <h1>Formulario de creacion de productos</h1>
            <label>
                <h4>Nombre del producto:</h4> <input class="completar" type="text" name="nombre">
            </label>
            <label>
                <h4>Precio del producto:</h4><input class="completar" type="number" name="precio">
            </label>
            <label for="cantidad" class="form-label">
                <h4>Cantidad</h4>
                <input type="number" id="cantidad" name="cantidad" placeholder="Ej: 15" class="completar">
            </label>
            
            <label for="categoria" class="form-label"><h4>Categoría:</h4></label>
            <select name="categoria" id="categoria" class="completar">

                <% categorias.forEach(categoria => { %>
                 <option value="<%= categoria.id %>"><%= categoria.genero %></option>
                <% }) %>
                
            </select>
            <label for="color" class="form-label"><h4>Color:</h4></label>
            <select name="color" id="color" class="completar">
                <% colores.forEach(color => { %>
                 <option value="<%= color.id %>"><%= color.nombre %></option>
                <% }) %>
            </select>
            <label for="talle" class="form-label"><h4>Talle:</h4></label>
            <select name="talle" id="talle" class="completar">
                <% talles.forEach(talle => { %>
                    <option value="<%= talle.id %>"><%= talle.numero %></option>
                <% }) %>
            </select>
            
            <label for="image" class="form-label">imagen</label>
                <input type="file" name="image" >
            </div>
            <div class="buttons_register">
                <button type="submit">Guardar</button>
            </div>
        </form>



        <%- include('partials/footer')%>
    </body>

</html>